<% content_for :title, "About Me" %>

<div class="row-fluid">
  <div class="col-lg-3 col-sm-2 col-xs-0"></div>
  <div class="col-lg-3 col-sm-4 col-xs-9">
    <%= image_tag "family.jpg", class: "img-responsive" %>
  </div>
  <div class="col-lg-3 col-sm-4 col-xs-12">
    <h1>Ever wanted to just quit your job, go freelance and then run off and explore the world?</h1>
    <h4>Me too...wait, you <em>didn't</em>? Well, good thing this is an About <strong>Me</strong> and not an About <strong>You</strong>. The me in this case being one, Sam Perdue: Web Developer, Husband and Father Extroadinaire!</h4>

    <p>
    Contrary to everything you've just heard about me, I haven't quit my job and run off into the wilds....yet. I currently work as a java web developer with aspirations of mastering rails, the mean stack, dart and just about everything to do with the internet and development.
    </p>
  </div>
</div>
