<!--<title>Sam Perdue | Adventures in coding</title>-->
<h1>Adventures in Coding | 100 webpages in 100 days!</h1>

<p>
My name is Sam Perdue and after being inspired by the likes of the amazing <%= link_to("Jennifer Dewalt", "http://jenniferdewalt.com/") %> and the brilliant <%= link_to("Thuongvu Ho", "http://blog.thuongvuho.com/post/75745975835/what-i-learned-making-100-websites-in-100-days") %>, I've decided to get off my butt, stop simply studying Ruby, Rails, JavaScript, etc. and actually make something every single day for the next 100 days.
</p>

<p>If you'd like to read more about the journey and myself in general, you can join me on my <%= link_to("blog", "http://firexion.tumblr.com") %></p>

<p>So, without further to-do, the results:</p>